dev/index.jade
doctype html
html(lang="es")
	head
		title Sitio web de practica
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="css/normalize.css")
		script(src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous")
		script(src="js/dist/main.js")
	body
		header.header
			.header__grupo.box
				.header__grupo__caja
					img(src="https://cdn4.iconfinder.com/data/icons/address-book-providers-in-colors/512/gmail-128.png", alt="").header__grupo__logo
				.header__grupo__caja--dos
					.menu-toggle
						.icon
							- for (var i = 0; i < 9; i++)
								.square
					ul.header_grupo_menu
						li.menu-dos ¿Quienes somos?
							ul.header_grupo_menu__sub-menu
								li: a(href="#") Tribunal
								li: a(href="#") Superor
						li: a(href="#") Admision
						li: a(href="#") Programas
						li: a(href="#") Galeria
						li: a(href="#") Blog
						li: a(href="#") Contacto
		main#main

index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Sitio web de practica</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="js/dist/main.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header__grupo box">
        <div class="header__grupo__caja"><img src="https://cdn4.iconfinder.com/data/icons/address-book-providers-in-colors/512/gmail-128.png" alt="" class="header__grupo__logo"></div>
        <div class="header__grupo__caja--dos">
          <div class="menu-toggle">
            <div class="icon">
              <div class="square"></div>
              <div class="square"></div>
              <div class="square"></div>
              <div class="square"></div>
              <div class="square"></div>
              <div class="square"></div>
              <div class="square"></div>
              <div class="square"></div>
              <div class="square"></div>
            </div>
          </div>
          <ul class="header_grupo_menu">
            <li class="menu-dos">¿Quienes somos?
              <ul class="header_grupo_menu__sub-menu">
                <li><a href="#">Tribunal</a></li>
                <li><a href="#">Superor</a></li>
              </ul>
            </li>
            <li><a href="#">Admision</a></li>
            <li><a href="#">Programas</a></li>
            <li><a href="#">Galeria</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main id="main"></main>
  </body>
</html>
